.cards {
  max-width: 880px;
  margin: 0 200px 68px 200px;
}

.cards__gallery {
  list-style-type: none;
  margin: 0 auto;
  padding-left: 0;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(2, 1fr);
  gap: 20px 17px;
}

.cards__gallery-item {
  max-width: 282px;
  max-height: 361px;
  background-color: #ffffff;
  border-radius: 10px;
}

.cards__gallery-image {
  max-width: 100%;
  height: 282px;
  border-radius: 10px 10px 0 0;
}

.cards__gallery-info {
  max-width: 246px;
  margin: auto 15px auto 21px;
  display: flex;
  align-items: baseline;
  justify-content: space-between;
  color: #000000;
}
.cards__gallery-title {
  font-family: "Inter", "Arial", sans-serif;
  font-weight: 900;
  font-size: 24px;
  line-height: 29.05px;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
}

.cards__gallery-button {
  width: 21px;
  height: 19px;
  background-color: #ffffff;
  border: none;
  cursor: pointer;
}

.cards__gallery-button:hover {
  opacity: 0.5;
}

.cards__gallery-button_active {
  background-image: url("../images/heart-active.svg");
}

@media screen and (max-width: 600px) {
  .cards {
    max-width: 90%;
    margin: 0 auto 50px auto;
  }
}

@media screen and (max-width: 600px) {
  .cards__gallery {
    width: 100%;
    grid-template-columns: repeat(1, 1fr);
    grid-row-gap: 20px;
  }
}

@media screen and (max-width: 600px) {
  .cards__gallery-item {
    margin: auto;
  }
}
