.header {
  max-width: 880px;
  min-height: 74px;
  margin: 45px auto 40px auto;
  border-bottom: 1px solid #545454;
}

@media screen and (max-width: 600px) {
  .header {
    max-width: 100%;
    min-height: 56px;
    margin-top: 0;
    margin-bottom: 38.25px;
  }
}

@media screen and (max-width: 600px) {
  .header__image {
    max-width: 126px;
    min-height: 24px;
    margin: 28px 167px 32px 27px;
  }
}
