.popup {
  width: 100%;
  height: 100vh;
  position: fixed;
  top: 0;
  left: 0;
  background-color: rgba(0, 0, 0, 0.5);
  display: flex;
  align-items: center;
  justify-content: center;
  visibility: hidden;
  pointer-events: none;
  opacity: 0;
  transition: visibility 0s linear 0.3s, opacity 0.3s linear;
}

.popup_open {
  visibility: visible;
  pointer-events: all;
  opacity: 1;
  transition-delay: 0s;
}

.popup__container {
  position: relative;
}

.popup__close-button {
  background-image: url(../images/Close_Icon.svg);
  background-repeat: no-repeat;
  background-color: transparent;
  width: 40px;
  height: 40px;
  border: none;
  position: absolute;
  left: 430px;
  bottom: 330px;
  cursor: pointer;
}

.popup__close-button:hover {
  opacity: 0.6;
}

.popup__form {
  width: 430px;
  height: 330px;
  background: #ffffff;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}

.popup__form-title {
  max-width: 330px;
  margin: 34px 0 0 36px;
  font-family: "Inter", "Arial", sans-serif;
  font-weight: 900;
  font-size: 24px;
  line-height: 29.05px;
  color: #000000;
}

.popup__form-fieldset {
  padding: 0;
  margin: 0 auto;
  width: 358px;
  border: none;
}
.popup__form-input {
  width: 100%;
  font-family: "Inter", "Arial", sans-serif;
  font-weight: 400;
  font-size: 14px;
  line-height: 17px;
  color: black;
  outline: #ffffff;
  border: none;
  border-bottom: 1px solid rgba(0, 0, 0, 0.2);
}

.popup__form-button {
  width: 100%;
  padding: 13.66px 124px 18.49px 125px;
  box-sizing: border-box;
  cursor: pointer;
  color: #ffffff;
  background: #000000;
  border: 0;
  border-radius: 2px;
  font-family: "Inter", "Arial", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 22px;
  text-align: center;
}

.popup__form-button:hover {
  background: rgba(0, 0, 0, 0.8);
}

.popup__container_content_preview {
  background: transparent;
  width: auto;
  height: auto;
}

.popup_close_preview {
  left: 100%;
  bottom: 75vh;
}

.popup__image-content {
  margin: 0;
}

.popup__preview-image {
  object-fit: cover;
  max-width: 75vw;
  max-height: 75vh;
}

.popup__preview-caption {
  max-width: 291px;
  font-family: "Inter", "Arial", sans-serif;
  font-weight: 400;
  font-size: 12px;
  line-height: 15px;
}

@media screen and (max-width: 600px) {
  .popup__close-button {
    background-size: contain;
    width: 20px;
    height: 20px;
    left: 90%;
    bottom: 335px;
  }

  .popup__form {
    width: 282px;
    height: 322px;
  }

  .popup__form-title {
    max-width: 238px;
    margin: 25px 0 0 22px;
    font-size: 18px;
    line-height: 21.78px;
  }

  .popup__form-fieldset {
    width: 238px;
  }

  .popup__form-button {
    width: 238px;
    padding: 14px 100px;
    font-size: 14px;
    line-height: 16.94px;
  }

  .popup__preview-caption {
    max-width: 240px;
  }
}
