.profile {
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
  max-width: 880px;
  margin: 0 auto 50px auto;
  display: flex;
  justify-content: space-between;
}

.profile__user {
  max-width: 583px;
  display: flex;
}

.profile__image {
  max-width: 120px;
  max-height: 120px;
  border-radius: 50%;
}

.profile__info {
  max-width: 415px;
  margin: 22px 0px 21px 26.25px;
  display: grid;
  grid-template-columns: minmax(373px, auto) auto;
  grid-template-areas:
    "name button"
    "occupation occupation";
}

.profile__title {
  grid-area: name;
  max-width: 373px;
  margin: 0 0 16px 0;
  font-family: "Inter", "Arial", sans-serif;
  font-weight: 500;
  font-size: 42px;
  line-height: 48px;
}

.profile__edit-button {
  grid-area: button;
  width: 24px;
  height: 24px;
  background: #000000;
  text-decoration: none;
  border: 1px solid #ffffff;
  cursor: pointer;
  margin-top: 15px;
  margin-left: 18px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.profile__edit-button:hover {
  opacity: 0.6;
}

.profile__subtitle {
  grid-area: occupation;
  max-width: 415px;
  margin-top: 0;
  margin-bottom: 0;
  font-family: "Inter", "Arial", sans-serif;
  font-weight: 400;
  font-size: 18px;
  line-height: 21.78px;
}

.profile__add-button {
  width: 150px;
  height: 50px;
  background: #000000;
  border: 2px solid #ffffff;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  align-self: center;
}

.profile__add-button:hover {
  opacity: 0.6;
}

@media screen and (max-width: 960px) {
  .profile {
    max-width: 70%;
    flex-direction: column;
    justify-content: center;
  }

  .profile__user {
    flex-direction: column;
  }

  .profile__image {
    margin: 0 auto 26.25px auto;
  }

  .profile__info {
    max-width: 80%;
    margin: 0 auto;
    grid-template-columns: minmax(196px, auto) 1fr;
    grid-column-gap: 10px;
    grid-row-gap: 14px;
    grid-template-areas:
      "name button"
      "occupation occupation";
  }

  .profile__title {
    margin-bottom: 0;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
    max-width: 373px;
  }

  .profile__edit-button {
    margin: 0;
    align-self: center;
  }

  .profile__subtitle {
    margin-bottom: 36px;
    text-align: center;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
    max-width: 415px;
  }

  .profile__add-button {
    width: 80%;
    margin: auto;
  }
}

@media screen and (max-width: 740px) {
  .profile__title {
    max-width: 196px;
    font-size: 22px;
    line-height: 27px;
  }
}

@media screen and (max-width: 600px) {
  .profile {
    max-width: 282px;
    margin-bottom: 36px;
  }

  .profile__info {
    max-width: 282px;
    margin: 0 auto;
    grid-template-columns: minmax(196px, auto) 1fr;
    grid-column-gap: 10px;
    grid-row-gap: 14px;
    grid-template-areas:
      "name button"
      "occupation occupation";
  }

  .profile__edit-button {
    width: 18px;
    height: 18px;
  }

  .profile__subtitle {
    max-width: 282px;
    font-size: 14px;
    line-height: 16.94px;
  }

  .profile__add-button {
    width: 282px;
  }
}
